<div id="admin" *ngIf="temoin">
  <div id="adminStat">
    <p>Nombres d'articles : {{ nbrArtc }}</p>
    <p>Nombres de commentaires : {{ nbrComent }}</p>
    <p id="pdging">Les derniers participants</p>

    <table id="tbl">
      <tr id="enteteTable">
        <th>PSEUDO</th>
        <th>TITRE</th>
        <th>DATE PARUTION</th>
      </tr>
      <tr id="enteteTbl" *ngFor="let lastUser of lastU">
        <th>{{ lastUser.generateid }}</th>
        <th>{{ lastUser.titre }}</th>
        <th>{{ lastUser.datepost | date: "short" }}</th>
      </tr>
    </table>
  </div>
  <div id="getpostall" *ngFor="let oneArt of forum">
    <h3>{{ oneArt.titre }}</h3>
    <p>{{ oneArt.texte }}</p>
    <img [src]="oneArt.urlfile" />
    <button (click)="moderation($event)" [id]="oneArt.idpost">Moderer</button>
  </div>
</div>
