form{
    position:fixed;
    top:120px;
    display:flex;
    flex-direction:column;
    width:100%;
    
}

#modify{
    display:flex;
    flex-direction:column ;
    width:95%;
    justify-content:center;
}

#modify input , #modify textarea{
    margin:5px;

}

#modify textarea{
    min-height:100px;
}

#modify button{
    background-color:#C0392B;
    color:white;
    font-weight:bold;
    height:29px;
    border-radius:10px;
    border:0px;
}