#feed{
    min-height:250px;
    background-color:#F7F9F9;
    position:absolute;
    top:100px;
    margin:0px;
    left:15px;
    right:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    z-index:1;
    margin-bottom:10px;
}

#feed form{
    margin:0px;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:85%;
}

#post{
    display:flex;
    flex-direction:column;
    width:100%;

    justify-content:center;
}

#post input, #post textarea{
    margin:10px;
    border:none;
    padding:10px;
    min-width:80%;
}

#feed textarea{
    height:100px;
}

#btn{
    margin:10px;
    width:190px;
}

#getpostall{
    width:80%;
    display:flex;
    flex-direction:column;
    padding:5px;
    align-items:center;
}

#getpostall img{
    width:80%;
}

#getpostall h3{
    font-size:25px;
    color:white;
    padding:0px;
    margin:1px;
}

#getpostall p{
    width:80%;
    word-wrap:break-word;
}

#spaceComment{
    margin-top:5px;
    width:80%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#commentaires{
    position: absolute;
    top:125px;
    min-height:100px;
    background-color:grey;
    left:10px;
    right:10px;
    z-index:2;
    color:white;
}

#commentaires p{
    text-align:center;
    margin:2px;
    padding:0px;
}