<div *ngIf="show" id="commentaires">
  <p *ngFor="let post of dataComment">{{ post.commentaire }}</p>
</div>
<div id="feed">
  <form
    method="post"
    (ngSubmit)="postArticles(f)"
    #f="ngForm"
    enctype="multipart/form-data"
  >
    <div id="post">
      <input name="titre" type="text" ngModel placeholder="Titre" required />
      <textarea
        name="texte"
        placeholder="Texte : votre texte ici!"
        ngModel
        required
      ></textarea>
      <input
        name="image"
        id="file"
        type="file"
        (change)="fileChange($event)"
        ngModel
        required
      />
      <button id="btn" type="submit" [disabled]="f.invalid">
        Envoyer post
      </button>
    </div>
  </form>
  <!-- la publication -->
  <div id="getpostall" *ngFor="let oneArt of forum">
    <h3>{{ oneArt.titre }}</h3>
    <p>{{ oneArt.texte }}</p>
    <img [src]="oneArt.urlfile" />
    <div id="spaceComment">
      <!-- espace commentaire -->
      <form
        [id]="oneArt.idpost"
        method="post"
        (ngSubmit)="postComment(c, $event)"
        #c="ngForm"
      >
        <input type="text" name="commentaire" id="commentRecup" ngModel />
        <button type="submit">commenter</button>
      </form>
      <button (click)="getComment($event)" [id]="oneArt.idpost">
        Voir commentaire
      </button>
    </div>
  </div>
</div>
