#feed{
    min-height:250px;
    background-color:#F4D03F;
    position:absolute;
    top:100px;
    margin:0px;
    left:15px;
    right:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}



#feed form{
    margin:0px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#post{
    display:flex;
    flex-direction:column;
    width:100%;

    justify-content:center;
}

#post input, #post textarea{
    margin:10px;
    border:none;
    padding:10px;
    min-width:80%;
}

#feed textarea{
    height:100px;
}

#btn{
    margin:10px;
    width:190px;
}