<div id="feed">
  <form method="post" (ngSubmit)="postArticles(f)" #f="ngForm" enctype="multipart/form-data">
    <div id="post">
      <input name="titre" type="text" ngModel placeholder="Titre" required />
      <textarea
        name="texte"
        placeholder="Texte : votre texte ici!"
        ngModel
        required
      ></textarea>
      <input name="image" id="file" type="file" (change)="fileChange($event)" ngModel/>
      <button id="btn" type="submit" [disabled]="f.invalid">Envoyer post</button>
    </div>
  </form>
</div>
