<div id="profile">
  <h2>Bienvenu sur votre profile : {{ pseudo }}</h2>
  <h4>Modifer mot de passe</h4>
  <form (ngSubmit)="onModifyMdp(f)" #f="ngForm">
    <input placeholder="##########" type="password" name="mdp" ngModel required />
    <button type="submit" [disabled]="f.invalid">Changer mot de passe</button>
  </form>
  <!-- modifier pseudo -->
  <h4>Modifer mot pseudo</h4>
  <form (ngSubmit)="onModifyPseudo(p)"  #p="ngForm">
    <input placeholder="pseudo" type="text" name="pseudo" ngModel required />
    <button type="submit" [disabled]="p.invalid">Changer pseudo</button>
  </form>
  <button id="deleteUser" (click)="deleteUser()">Supprimer compte</button>
</div>
