#signupRouter{
    position:fixed;
    top:200px;
    margin:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:100%;
    left:0px;
    right:0px;
}

#signupRouter form{
    margin:0px;
    display:flex;
    flex-direction:column;
}

#signupRouter input{
    width:220px;
    height:20px;
    margin:1px;
    border:none;
    border-bottom:2px solid #d1515a;
    box-shadow:0;
    color:grey;
}

#signup{
    background-color:#d1515a;
    border:none;
    padding:7px;
    color:white;
    font-weight:bold;
}
h2{
    color:#d1515a;
    text-decoration:underline;
}